.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.words-list-header {
    text-align: left;
}

.table-headers {
    text-align: center;
}

.tables {
    width: 25vw;
    /* margin-left: 25%;
    margin-right: 25%; */
}

.table-add-set {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.table-words {
    text-align: center;
}

.form-table {
    border-spacing: 15px;
    border-collapse: separate;
}

.category {
    border: 1px solid #000;
    margin-bottom: 10px;
    width: 12vw;
    display: block;
    text-align: center;
}

.set-box {
    border: 1px solid #000;
    margin-bottom: 10px;
    width: 12vw;
    display: block;
    text-align: center;
}
