{% extends "base_generic.html" %}

{% block content %}
<form action = "{% url 'add-set' %}" method="post">
    {% csrf_token %}
    <br>
    <label for="set_name_1">Set name:</label><br />
    <input type="text" name="set_name_2" id="set_name_1" />
    <br><br>

    <table style="width:100%">
      <tr>
        <th class="table-headers">Source language</th>
        <th class="table-headers">Target language</th>
      </tr>
        <tr>
        <th class="table-headers">{{src_language}}</th>
        <th class="table-headers">{{target_language}}</th>
      </tr>

        {% for i in tableLen %}
            <tr>
                <td class="table-words"><input type="text" name="srcLan{{i}}" id="srcLan{{i}}"/></td>
                <td class="table-words"><input type="text" name="tarLan{{i}}" id="tarLan{{i}}"/></td>
            </tr>
        {% endfor %}

    </table>
    <br>

    <input type="submit" value="Submit" />
</form>

<a href="{% url 'category-sets-list' id %}">Go Back</a>

{% endblock %}
