{% extends "base_generic.html" %}

{% block content %}
<form action = "{% url 'add-set' %}" method="post">
    {% csrf_token %}
    <br>
    {{form.set_name.label_tag}} {{form.set_name}}
    <br><br>

    <div class="set-setup">
        {{form.target_language.label_tag}} {{form.target_language}}
        {{form.target_side.label_tag}} {{form.target_side}}
        {{form.countdown_duration.label_tag}} {{form.countdown_duration}}
    </div>

    <br>

    <div class="import-file">

        <span id="import-div">Import txt/csv file</span>
        <br><br>
        <input id="csv-txt" type="file">

        <span>Separator: </span>
        <select id="file-separator">
            <option value=";">;</option>
            <option value=",">,</option>
        </select>

        <br><br>

        <button type="button" class="btn btn-primary" onclick="read_file()">Import file</button>
        <span id="file-validator"></span>

    </div>

    <br><br>

    <table id="set_def_table" class="table-add-set">
      <tr>
        <th class="table-headers">
          <span id="left-label">{% if target_side == 'left' %} Target language {% else %} Source language {% endif %}</span>
        </th>
        <th class="table-headers">
          <span id="right-label">{% if target_side == 'left' %} Source language {% else %} Target language {% endif %}</span>
        </th>
      </tr>
      <tr>
        <th class="table-headers">
          <span id="left-lan">{% if target_side == 'left' %} {{target_language}} {% else %} {{src_language}} {% endif %}</span>
        </th>
        <th class="table-headers">
          <span id="right-lan">{% if target_side == 'left' %} {{src_language}} {% else %} {{target_language}} {% endif %}</span>
        </th>
      </tr>

        {% for i in tableLen %}
            <tr>
                <td class="table-words"><input type="text" name="left_field{{i}}" id="left_field{{i}}"/></td>
                <td class="table-words"><input type="text" name="right_field{{i}}" id="right_field{{i}}"/></td>
                <td><img src="../../static/images/remove_icon_res.png" onclick="remove_words(this)"></td>
            </tr>
        {% endfor %}

    </table>
    <br><br>
    <div id="add-word">
        <button type="button" class="btn btn-primary" onclick="add_word()">Add word</button>
    </div>
    <br><br>
    <input type="submit" class="btn btn-primary" value="Apply" />
</form>

<br>
<a href="{% url 'category-sets-list' id %}">
<button type="button" class="btn btn-primary">Go Back</button>
</a>

<script language="javascript" type="text/javascript" charset="UTF-8">

    var idx = 10;
    var curr_target_side = "{{target_side}}";
    var curr_target_lan = "{{target_language}}";
    var curr_source_lan = "{{src_language}}";

    function add_word() {
        idx += 1;

        var table = document.getElementById("set_def_table");
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        cell1.innerHTML = "<input type='text' name='left_field" + idx + "' id='left_field" + idx + "'/>";
        cell1.align = "center";
        cell2.innerHTML = "<input type='text' name='right_field" + idx + "' id='right_field" + idx + "'/>";
        cell2.align = "center";
        cell3.innerHTML = "<img src='../../static/images/remove_icon_res.png' onclick='remove_words(this)'>";
    }

    function remove_words(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }

    function swap_fields() {
        for (var i = 1; i <= idx; i++) {
            var check = document.getElementById("left_field" + i);
            if (check) {
                // swapping
                temp = document.getElementById("left_field" + i).value;
                document.getElementById("left_field" + i).value = document.getElementById("right_field" + i).value;
                document.getElementById("right_field" + i).value = temp;
            }
        }
    }

    $('#{{form.target_language.auto_id}}').on('change', function (e) {
        //swapping
        var temp = curr_target_lan;
        curr_target_lan = curr_source_lan;
        curr_source_lan = temp;

        if (curr_target_side == "left") {
            document.getElementById("left-lan").innerHTML = curr_target_lan;
            document.getElementById("right-lan").innerHTML = curr_source_lan;
        }
        else if (curr_target_side == "right") {
          document.getElementById0("left-lan").innerHTML = curr_source_lan;
          document.getElementById("right-lan").innerHTML = curr_target_lan;
        }

        swap_fields();
    });

    $('#{{form.target_side.auto_id}}').on('change', function (e) {
        curr_target_side = this.value;

        if (curr_target_side == "left") {
            document.getElementById("left-label").innerHTML = "Target language";
            document.getElementById("right-label").innerHTML = "Source language";

            document.getElementById("left-lan").innerHTML = curr_target_lan;
            document.getElementById("right-lan").innerHTML = curr_source_lan;
        }
        else if (curr_target_side == "right") {
          document.getElementById("left-label").innerHTML = "Source language";
          document.getElementById("right-label").innerHTML = "Target language";

          document.getElementById("left-lan").innerHTML = curr_source_lan;
          document.getElementById("right-lan").innerHTML = curr_target_lan;
        }

        swap_fields();
    });

    var file_input = document.getElementById("csv-txt");

    read_file = function () {

        if(document.getElementById("csv-txt").value != "") {
            document.getElementById("file-validator").innerHTML = "";
            var reader = new FileReader();

            reader.onload = function () {
                var lines = reader.result.split('\n');
                var split_arr = []
                var separator = document.getElementById("file-separator").value;

                for(var i = 0; i < lines.length; i++) {
                    var line = lines[i].split(separator);
                    if(line.length == 2) {
                        split_arr.push(line);
                    }
                }

                add_words_to_table(split_arr);
            };
            // start reading the file. When it is done, calls the onload event defined above.
            reader.readAsText(file_input.files[0], 'UTF-8');
        }
        else {
            document.getElementById("file-validator").innerHTML = "File is not selected";
        }
    };

    // fileInput.addEventListener('change', readFile);

    function add_words_to_table(arr) {
        remove_all_table_elements();
        for(var i = 0; i < arr.length; i++) {
            add_word();
            document.getElementById("left_field" + idx).value = arr[i][0];
            document.getElementById("right_field" + idx).value = arr[i][1];
        }
    }

    function remove_all_table_elements() {
        var table = document.getElementById("set_def_table");
        var rowCount = table.rows.length;
        var tableHeaderRowCount = 2;
        for (var i = tableHeaderRowCount; i < rowCount; i++) {
            table.deleteRow(tableHeaderRowCount);
        }
    }

</script>

{% endblock %}
