{% extends "base_generic.html" %}

{% block content %}
<h2>Sets list for category: {{ category.name }}</h2>

  <ul>
    {% load index %}
    {% for set in sets %}

      <form method="post">
          <li><a href="{{ set.get_absolute_url }}">{{set.name}}</a>
            <a> words: {{ word_counters|index:forloop.counter0 }}</a>
            <a href="{{ set.get_edit_url }}">edit</a>
            <a href="{{ set.get_remove_url }}">remove</a>
          </li>
      </form>

    {% endfor %}

  </ul>

        <a href="{% url 'add-set' %}">Add set</a>

{% endblock %}
