{% extends "base_generic.html" %}

{% block content %}
<h2>Categories available:</h2>

    {% load index %}

    {% for category in category_list %}

        <div class="category"><a href="{{ category.get_absolute_url }}">{{category.name}}</a>
          <br><span> sets: {{ set_counters|index:forloop.counter0 }}</span>
          <br><span> words: {{ word_counters|index:forloop.counter0 }}</span>
          <br><a href="{{ category.get_edit_url }}"> edit</a>
          <a href= "{{ category.get_remove_url }}"> remove</a>
        </div>

    {% endfor %}

<a href="{% url 'add-category' %}">
    <button type="button" class="btn btn-primary">Add category</button>
</a>

{% endblock %}

<script>

</script>
